{% extends "base.html" %}

{% block panel_content %}
    <nav class="nav">
        <h2 class="nav__title">Навигация</h2>
        <ul class="nav__list nav-page">
            <li class="nav__item">
                <a class="link nav__link" href="#profile-user">Данные пользователя</a>
                <a class="link nav__link" href="#selected-configuration">Выбранные конфигурации</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div id="profile-user">
        <article class="page">
            <div class="page-header">
                <h2 class="title">Данные пользователя</h2>
            </div>
            <div class="page-content">

                        <table class="">
                            <tbody class="">
                                <tr class="">
                                    <td><label class="setting__label" for="element-name" title="Имя">Имя:</label></td>
                                    <td><input class="setting__element" id="element-name" title="Имя" value="{{ current_user.username }}" disabled></td>
                                </tr>
                                <tr class="">
                                    <td><label class="setting__label" for="element-email" title="Почта">Почта:</label></td>
                                    <td><input class="setting__element" id="element-email" title="Почта" value="{{ current_user.email }}" disabled></td>
                                </tr>
                            </tbody>
                        </table>

            </div>
        </article>
    </div>
    <div id="selected-configuration">
        <article class="page">
            <div class="page-header">
                <h2 class="title">Выбранные конфигурации</h2>
            </div>
            <div class="page-content">

                <div class="table-responsive">
                    <table class="table font-size-small-sm">
                        <thead class="table__thead">
                            <tr class="table__row">
                                <th class="table__cell table__cell--header table__cell--number-row">№</th>
                                <th class="table__cell table__cell--header table__cell--name-head">description</th>
                                <th class="table__cell table__cell--header">active</th>
                            </tr>
                        </thead>
                        <tbody class="table__tbody" id="admin-configuration-setting">
<!--                            {% for configuration in configurations %}-->
<!--                            <tr class="table__row">-->
<!--                                <td class="table__cell table__cell&#45;&#45;number-row" data-id="{{ configuration.id }}">{{ configurations.index(configuration)+1 }}</td>-->
<!--                                <td class="table__cell" data-parameter="description">{{ configuration.description }}</td>-->
<!--                                <td class="table__cell">-->
<!--                                    <button class="setting__element action-element btn" data-action="edit" data-controls="admin-configuration-setting" title="Редактировать конфигурацию">&#9998;</button>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            {% endfor %}-->
                        </tbody>
                    </table>
                </div>

            </div>
        </article>
    </div>
{% endblock %}

{% block script %}

{% endblock %}